<div>
  <form (submit)="insertOrUpdate()">
    <div class="form-group">
      <label for="">角色名称：</label>
      <input [disabled]="type==='select'" class="form-control" type="text" pInputText [(ngModel)]="form.roleName" name="roleName">
    </div>
    <div class="form-group">
      <label for="">角色描述：</label>
      <input [disabled]="type==='select'" class="form-control" type="text" pInputText [(ngModel)]="form.remark" name="remark">
    </div>
    <div class="form-group">
      <label for="">组织选取：</label>
      <p-dropdown [disabled]="type==='select'" [options]="dropdown.organization" [(ngModel)]="form.organizationId" name="organizationId" [style]="{'width':'120px','margin-right':'20px'}"></p-dropdown>
    </div>
    <button type="submit" pButton label="新增" class="btn-Warning "></button>
  </form>
  <div class="tree-box">
    <p-tree [(value)]="tree" selectionMode="checkbox" [(selection)]="selectedTree" [selectionInit]="selectionInit"></p-tree>
  </div>
</div>