@mixin switchBtn($bg-color:#eee) {
  width: 13%;
  max-width: 126px;
  text-align: center;
  margin-bottom: 9px;
  color: black;
  height: 30px;
  background-color: $bg-color;
  text-align: center;
  line-height: 30px;
  position: relative;
}

@mixin right {
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-left: 12px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 12px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@mixin left {
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    left: 0;
    right: -12px;
  }
}

.triangle-left {
  @include switchBtn(#eee);
  @include right();
  float: left;
  border-radius: 5px 0 0 5px;
}

.triangle {
  @include switchBtn();
  @include left();
  @include right();
  float: left;
}

.triangle-right {
  @include switchBtn(#eee);
  @include left();
  float: left;
  border-radius: 0px 5px 5px 0px;
}

.active {
  color: #fff;
  background-color: #2b9e2b;
}
