@mixin switchBtn($bg-color:#eee) {
  width: 13%;
  max-width: 126px;
  text-align: center;
  margin-bottom: 9px;
  color: black;
  height: 30px;
  background-color: $bg-color;
  text-align: center;
  line-height: 30px;
  position: relative;
}

@mixin triangle-right {
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-left: 12px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 12px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@mixin triangle-left {
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    left: 0;
    right: -12px;
  }
}

.triangle {
  @include switchBtn();
  @include triangle-left();
  @include triangle-right();
  float: left;
  &:active {
    color: #fff;
    background-color: #2b9e2b;
  }
  &:visited {
    color: #fff;
    background-color: #ed7e0e;
  }
}

.triangle-right {
  @include switchBtn(#eee);
  @include triangle-right();
  float: left;
  border-radius: 5px 0 0 5px;
  &:active {
    color: #fff;
    background-color: #2b9e2b;
  }
  &:visited {
    color: #fff;
    background-color: #ed7e0e;
  }
}
