
html,body{
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 600px;
  color: $text-color;
  background-color: #f3f3f3;
  font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", "Roboto", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
}


/* 全局CSS样式 */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear-fix::after{
  content: ' ';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.ui-growl {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-box{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

// 布局样式
.header,
.menu,
.sidebar,
.main{
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.header{
  height: #{$header-height};
  padding: #{$header-padding};
  background-color: #fbfbfb;
}

.menu{
  height: #{$menu-height};
  color: white;
  font-size: 20px;
  background-color: $primary-color;
  line-height: #{$menu-height};
}

.sidebar{
  height: calc(100% - #{$header-height} - #{$menu-height});
  width: #{$sidebar-width};
  box-shadow: 4px 4px 4px 0px rgba(12, 6, 14, 0.1);
}

.main{
  height: calc(100% - #{$header-height} - #{$menu-height});
  width: calc(100% - #{$sidebar-width} - #{$main-padding-left} - #{$main-padding-right});
  margin-left: $main-padding-left;
  margin-right: $main-padding-right;
  box-shadow: -4px 4px 4px 0px rgba(12, 6, 14, 0.1),4px 4px 4px 0px rgba(12, 6, 14, 0.1);
}

.card{
  padding: 20px;
  position: relative;
}

// webkit滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: #888888;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}