html,
body {
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 600px;
  color: $text-color;
  background-color: #f3f3f3;
  font-family: "Microsoft YaHei", "Arial", "黑体", "Roboto", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
}

/* 全局CSS样式 */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-fix::after {
  content: ' ';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.ui-growl {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

// 布局样式
.header,
.menu,
.sidebar,
.main {
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.header {
  height: #{$header-height};
  padding: #{$header-padding};
  background-color: #fbfbfb;
}

.menu {
  height: #{$menu-height};
  color: white;
  font-size: 20px;
  background-color: $primary-color;
  line-height: #{$menu-height};
}

.sidebar {
  height: calc(100% - #{$header-height} - #{$menu-height});
  width: #{$sidebar-width};
  box-shadow: 4px 4px 4px 0px rgba(12, 6, 14, 0.1);
  overflow: auto;
}

.main {
  height: calc(100% - #{$header-height} - #{$menu-height});
  width: calc(100% - #{$sidebar-width} - #{$main-padding-left} - #{$main-padding-right});
  margin-left: $main-padding-left;
  margin-right: $main-padding-right;
  box-shadow: -4px 4px 4px 0px rgba(12, 6, 14, 0.1), 4px 4px 4px 0px rgba(12, 6, 14, 0.1);
}

.card {
  padding: 20px;
}

.ui-widget {
  font-family: "Microsoft YaHei";
  font-size: 1em; // 改变primeNG中的字体样式
}

// 表单文字
.search-label {
  width: 90px;
  display: inline-block;
  color: rgb(102, 102, 102);
}

.btn-Success {
  width: 60px;
  height: 30px;
  font-size: 16px;
  background: $button-success !important;
  border: 0px solid $button-success !important;
  border-radius: 4px;
  &:active {
    background: $success-selected !important;
    border: 0px solid $success-selected !important;
  }
  .ui-button-text {
    line-height: 1; // 为了适应16px的字体,有问题看这里
    padding: 0px 0px;
  }
}

.btn-Warning {
  width: 60px;
  height: 30px;
  font-size: 16px;
  background: $button-warning !important;
  border: 0px solid $button-warning !important;
  border-radius: 4px;
  &:active {
    background: $warning-selected !important;
    border: 0px solid $warning-selected !important;
  }
  .ui-button-text {
    line-height: 1; // 为了适应16px的字体,有问题看这里
    padding: 0px 0px;
  }
}
.btn-Primary {
  width: 60px;
  height: 30px;
  font-size: 16px;
  background: $primary-color !important;
  border: 0px solid $primary-color !important;
  border-radius: 4px;
  &:active {
    background: $primary-selected !important;
    border: 0px solid $primary-selected !important;
  }
  .ui-button-text {
    line-height: 1; // 为了适应16px的字体,有问题看这里
    padding: 0px 0px;
  }
}

// input
.textInput {
  width: 120px; // 输入框大小
  height: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px $border-color;
}

input {
  width: 100%; // 所有的input适应父级宽度
}

// 表格
// .ui-state-highlight{
//   background-color: $td-selected !important; // 选中高亮
//   color: #222222 !important;
// }
.ui-table .ui-table-tbody>tr:nth-child(even) {
  background-color: $td-color; // 偶数行背景颜色
}

.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tfoot>tr>td {
  background: $primary-color;
  border-color: #d9d9d9;
  font-weight: normal;
  color: white;
  height: 34px;
  max-height: 34px;
}

.ui-table .ui-table-thead>tr>th,
.ui-table .ui-table-tbody>tr>td,
.ui-table .ui-table-tfoot>tr>td {
  padding: 0;
  border: 1px solid #adddf3;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.ui-table .ui-table-tbody>tr {
  height: 34px;
  max-height: 34px;
  text-align: center;
  word-wrap: break-word;
}

.ui-paginator .ui-paginator-right-content {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

// 提示框颜色
.ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
  background-color: $success-color;
  border-color: $success-color;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-info {
  background-color: $info-color;
  border-color: $info-color;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-warn {
  background-color: $warning-color;
  border-color: $warning-color;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
  background-color: $error-color;
  border-color: $error-color;
}

// 下拉框
.ui-dropdown .ui-dropdown-label {
  padding: 6px 2em 6px 6px;
}

.ui-dropdown {
  vertical-align: top;
}

// 日期
.ui-calendar {
  .ui-inputtext {
    height: 30px;
    border: 1px solid $border-color;
  }
}

// 超链接 a
a {
  color: $primary-color;
  text-decoration: none;
}

a.router-link {
  color: $primary-color;
}

a.router-link-active {
  color: $primary-color;
}

// 覆盖浏览器自带的li的样式
li {
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
}

// webkit滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: #888888;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}
