
// header
$header-height: 80px;
$header-padding: 20px;

// sidebar
$sidebar-width: 200px;

// menu
$menu-height: 40px;

// main
$main-padding-left: 20px;
$main-padding-right: 20px;

// color
$primary-color: #0d87e5;
$secondary-color: #3fa2ed;
$success-color: #2b9e2b;
$info-color: #abc;
$warning-color: #ed953f;
$danger-color: #e63e4c;

// text
$text-color: #666;