
// header
$header-height: 80px;
$header-padding: 20px;

// sidebar
$sidebar-width: 200px;

// menu
$menu-height: 40px;

// main
$main-padding-left: 20px;
$main-padding-right: 20px;

// color

$primary-color: #abc;
$secondary-color: #abc;
$success-color: #abc;
$info-color: #abc;
$warning-color: #abc;
$danger-color: #abc;