
// header
$header-height: 80px;
$header-padding: 20px;

// sidebar
$sidebar-width: 200px;

// menu
$menu-height: 40px;

// main
$main-padding-left: 20px;
$main-padding-right: 20px;

// tooptip color
$primary-color: #0d87e5;
$secondary-color: #3fa2ed;
$success-color: #2b9e2b;
$info-color: #3f9fe8;
$warning-color: #ed953f;
$error-color:#e63e4c;

// H1~H6 
$H1-color:#333;
// content
$text-color: #666;
// border and support 
$border-color:#999;

// button  
$button-success:#2b9e2b;   
$success-selected:#3cbb36;   
$button-warning:#ed7e0e;   
$warning-selected:#ed953f;
$primary-selected:#3fa2ed;

// table
$td-color:#e9f5fe;
$td-selected:#f0f0f0;